<!DOCTYPE html>
<html lang="en">
<head><s></s>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel del Administrador</title>
    <link rel="stylesheet" href="Proyecto/src/public/css/Proyecto.css">
    <meta http-equiv="refresh" content="0;url=/default">
</head>
<body>
    <header>
        <h1>Bienvenido al Panel del Administrador</h1>
    </header>
    <nav>
        <a href="/create-user">Crear Usuario</a>
        <a href="/edit-user">Editar Usuario</a>
        <a href="/delete-user">Eliminar Usuario</a>
    </nav>
    <main>
        
    </main>
</body>
</html>
