<!DOCTYPE html>
<html>
  <head>
    <title>{{titulo}}</title>
    <link rel='stylesheet' href='/css/Proyecto.css' />
    <link rel='stylesheet' href='/css/styleList.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>