<!DOCTYPE html>
<html>
  <head>
    <title>{{titulo}}</title>
<<<<<<< HEAD
    <link rel='stylesheet' href='/css/estilos.css' />z
=======
    <link rel='stylesheet' href='/css/Proyecto.css' />
>>>>>>> 935828d582199b6fa3f0e93d94b39402b0002769
  </head>
  <body>
    {{{body}}}
  </body>
</html>