<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="css/Proyecto.css">
    <style>
        /* Estilos para los enlaces */
        .link-container {
            text-align: center;
            margin-top: 20px;
        }
        
        .link-container a {
            text-decoration: none;
            background-color: #3498db;
            color: #fff;
            padding: 10px 20px;
            margin: 5px;
            border-radius: 5px;
            display: inline-flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-content: space-around;
        }
        
        .link-container a:hover {
            background-color: #2980b9;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <h1 class="Titulo">Bienvenidos</h1>
        <form class="form" name="formLogin" action="/login" method="POST">
            <div class="form">
                <div class="form-title">
                    <h2>Inicio de Sesión</h2>
                </div>
                <label for="username">
                    <input type="text" id="username" name="username" placeholder="Usuario" required>
                </label>
                <label for="password">
                    <input type="password" id="password" placeholder="Contraseña" name="password" required>
                </label>
                <button type="submit">Ingresar</button>
            </div>
        </form>
        <div class="link-container">
            <a href="forgot-passwd">¿Olvidaste tu contraseña?</a>
            <a href="register">Registrarse</a>
        </div>
    </div>
</body>
</html>