<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel Characters</title>
    <link rel="stylesheet" href="css/marvel_catalogue.css">
    <!-- Box Icons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>
<body>
    <!-- Navbar -->
    <header>
        <!-- nav -->
        <div class="nav container">
            <!-- logo -->
            <a href="#" class="logo">Marvel Characters</a>
            <!-- cart icon -->
            <i class='bx bx-heart' id="cart-icon" data-quantity="0"></i>
            <!-- cart -->
            <div class="cart">
                <h2 class="cart-title">Tus Personajes Favoritos</h2>
                <!-- contenido -->
                <div class="cart-content"></div>
                <!-- close cart -->
                <i class='bx bx-x' id="close-cart"></i>
                <!-- buy button -->
                <button type="button" class="btn-buy">Finalizar</button>
            </div>
        </div>
    </header>
    <!-- productos -->
    <section class="shop container">
        <h2 class="section-title">Selecciona a tus personajes favoritos de Marvel</h2>
        <!-- shop content -->
        <div class="shop-content" id="show-boxes">
            <!-- boxes -->
        </div>

    </section>
    <!-- js -->
    <script src="js\marvel_catalogue_cart.js"></script>
</body>
</html>