<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Operativo</title>
    <link rel="stylesheet" href="css/Proyecto.css">
</head>
<body>
    <header>
        <h1>Bienvenido al Panel Operativo</h1>
    </header>
    <nav>
        <!-- Enlaces de navegación para las funciones específicas del usuario operativo -->
        <a href="/catalogue">Catálogo</a>
        <a href="/view-profile">Ver Perfil</a>
        <!-- Agrega más enlaces según las funciones del usuario operativo -->
    </nav>
    <main>
        <!-- Contenido principal del panel operativo -->
        <!-- Puedes agregar lógica aquí para mostrar información adicional -->
    </main>
   
</body>
</html>
