<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contrase침a</title>
    <link rel="stylesheet" href="css/Proyecto.css">
</head>
<body>
    <div class="wrapper">
        <h1 class="Titulo">Bienvenidos</h1>
        <form class="form" name="formCon" action="/passwd-recovery" method="POST">
            <div class="form-title">
                <h2>Respuesta de recuperaci칩n</h2>
            </div>
            <!-- Mostrar la pregunta de recuperaci칩n como texto -->
            <h3>{{ user.question_u }}</h3>
            <!-- Campo para ingresar la respuesta -->
            <label for="answer">
                <input type="text" id="answer" placeholder="Respuesta" name="answer" pattern="[A-Za-z]+" required>
            </label>
            <!-- Campo oculto para enviar el correo electr칩nico -->
            <input type="hidden" name="correo_electronico" value="{{ user.email_u }}">
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>