<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="css/Proyecto.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper">
        <h1 class="Titulo">Bienvenidos</h1>
        <form class="form" name="formReg" action="/register" method="POST">
            <div class="form-title">
                <h2>Registro</h2>
            </div>
            <label for="username">
                <input type="text" id="username" name="username" placeholder="Nombre de usuario" required>
            </label>
            <label for="correo_electronico">
                <input type="email" id="correo_electronico" name="correo_electronico" placeholder="Correo electr칩nico" required>
            </label>
            <label for="tipoUsuario">
                <select id="tipoUsuario" name="usertype" required>
                    <option value="">Tipo de usuario</option>
                    <option value="operativo">Operador</option>
                    <option value="admin">Administrador</option>
                </select>
            </label>
            <label for="password">
                <input type="password" id="password" placeholder="Contrase침a" name="password" required>
            </label>
            <label for="confirmPassword">
                <input type="password" id="confirmPassword" placeholder="Confirmar contrase침a" name="confirmPassword" required>
            </label>

            {{#if errorMessage}}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ errorMessage }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {{/if}}
            
            <button type="submit" class="button-primary">Registrarse</button>
        </form>
        <a class="return-link" href="login">Volver a Inicio de Sesi칩n</a>
    </div>
</body>
</html>