<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" href="css/Proyecto.css">

</head>
<body>  
<div class="wrapper">
<h1 id="title-table">{{title}}</h1>

<table id="usuariosList" >
  <thead>
    <th>Nombre</th><th>Correo</th>
  </thead>  
  </tr>
{{#each list}}
  <tr>      
     <td>{{name}}</td><td>{{email}}</td> 
       <td>
    <form action="/users-list/{{id}}" method="POST">
      <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario?')">Eliminar</button>
    </form>
  </td>
  </tr>   
{{/each}}
</table>

<div class="inicio-link">
            
                <a class="return-link"href="login">Inicio de Sesion</a>

            </div>
        </div>

</div>
</body>
</html>